body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url("landscape.jpg") fixed;
  background-size: cover;
}

#main {
  width: 80%;
  margin: 100px 200px 100px 200px;
  padding: 24px;
  background-color:gainsboro;
  border: #723B96 solid 6px;
  border-radius: 10px;
  text-align: center;
}

#conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#explication {
  text-align: justify;
  width: 80%;
  margin: auto;
}

#image {
  width: 500px;
  height: auto;
  border: #3F61AB solid 3px;
  border-radius: 10px;
}

#bloc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 0.9em;
}

.texte {
  margin-top: 12px;
  margin-bottom: 12px;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reponse {
  font-style: italic;
}

.color:nth-child(1) {
  width: 120px;
  height: 80px;
  background-color: #FCED22;
  text-align: center;
  color: rgb(47,79,79);
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(2) {
  width: 120px;
  height: 80px;
  background-color: #FCB414;
  text-align: center;
  color: rgb(47,79,79);
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(3) {
  width: 120px;
  height: 80px;
  background-color: #F5841E;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(4) {
  width: 120px;
  height: 80px;
  background-color: #F16623;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(5) {
  width: 120px;
  height: 80px;
  background-color: #D52027;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(6) {
  width: 120px;
  height: 80px;
  background-color: #B03B94;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(7) {
  width: 120px;
  height: 80px;
  background-color: #723B96;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(8) {
  width: 120px;
  height: 80px;
  background-color: #4C489C;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(9) {
  width: 120px;
  height: 80px;
  background-color: #3F61AB;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(10) {
  width: 120px;
  height: 80px;
  background-color: #2FBBB2;
  text-align: center;
  color:rgb(47,79,79);
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(11) {
  width: 120px;
  height: 80px;
  background-color: #07B151;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.color:nth-child(12) {
  width: 120px;
  height: 80px;
  background-color: #8DC540;
  text-align: center;
  color: rgb(47,79,79);
  font-weight: bold;
  padding: 2px;
}